@font-face {
  font-family: HomemadeApple;
  src: local(HomemadeApple),
    url(/path/to/HomemadeApple.woff2) format("woff2"),
    url(/path/to/HomemadeApple.woff) format("woff"),
    url(/path/to/HomemadeApple.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: LemonMilk;
  src: local(LemonMilklight),
    url(/path/to/LemonMilklight.woff2) format("woff2"),
    url(/path/to/LemonMilklight.woff) format("woff"),
    url(/path/to/LemonMilklight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(Raleway-Regular),
    url(/path/to/Raleway-Regular.woff2) format("woff2"),
    url(/path/to/Raleway-Regular.woff) format("woff"),
    url(/path/to/Raleway-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

h2 {
  font-family: LemonMilk;
  font-size: 49px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.62px;
  text-align: center;
  color: $red;
}

@mixin nav-li {
  font-family: HomemadeApple;
  font-size: 24px;
  letter-spacing: 2.62px;
  text-align: center;
  color: $black;
  text-shadow: 0 2px 4px $black-50;
}

h3 {
  font-family: LemonMilk;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.62px;
  text-align: center;
  color: $black;
}

p {
  font-family: Raleway;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.62px;
  text-align: center;
  color: $black;
}