@import 'colors', 'fonts', 'mixins';
// all-blogs

//mobile

//home-index 
body{
    background-color: $white !important;
}

.underline-img {
    width: 200vw;
    margin-bottom: 5vh;
    margin-top: -5vh;
}
.logo-section {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}
.stamp-logo {
    width: 75px;
    height: 83px;
    object-fit: contain;
  }

.links {
    a {
        @include nav-li;
        transition: color 0.5s;
        &:hover {
            text-decoration: none;
            color: $red;
        }
    }
}

.about-section {
    width: 100vw;
    height: auto;
    margin-bottom: 5vh;
}
.About{
    text-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
    font-family: LemonMilk;
    font-size: 3.5em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.62px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: $red;
}

.written-about-section {
    margin: 0px auto;
    width: 80vw;
}

footer {
    width: 100vw;
    height: 428px;
    object-fit: contain;
    background-image: url("../images/footer-img.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .social-btns {
    width: 100vw;
    height: 428px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 5px;
  }
//blog
.blog-flex{
    background-color: #ffffff;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
}

.blog-flex-central{
    display: flex;
    flex-direction:column;

}
.recent-blog{
    order: 1;
    width: 80vw;
    height: 30vh;
    background-color: $white;
    margin-left :auto;
    margin-right : auto;
    margin-bottom: 2vh;
    text-align : center;
    h1{
        font-size: 1.5em;
    }
    h3{
        font-size: 0.8em;
        font-style: italic;
    }
}
.aside{
    order: 2;
    h1{
        font-size: 1em;
    }
    h3{
        font-size: .5em;
    }
}

//Blog-post

.outer-div-blog-post{
    background-color: $black;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.date{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.92);
    font-family: HomemadeApple;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.23px;
    text-align: center;
    color: $gold;
    align-self: flex-end;
}
.menu-btn{
    margin-right: 3px;
}
.blog-post{
    margin-left: auto;
    margin-right: 0px;
    width: 80vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Title-of-blog {
    width: 281px;
    height: 90px;
    font-family: LemonMilk;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.23px;
    text-align: center;
    color: $black;
    margin-bottom: 5vh;
  }
  .author{
    font-family: HomemadeApple;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.23px;
    text-align: center;
    color: $red;
  }
  .description {
    font-family: LemonMilk;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.23px;
    text-align: center;
    color: $black;
  }
  .body {
    font-family: Raleway;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.23px;
    color: $black;
  }

.styled-btn {
    font-family: HomemadeApple;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.65px;
  text-align: center;
  color: $black;
}
  .like-group{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .like-btn{
      align-self: flex-start;
  }

  .related-blog-btn{
    font-family: LemonMilk;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.65px;
    text-align: center;
    color: $pink;
  }
                 //comments
.all-comments{
    margin-left: auto;
    margin-right: 0px;
    width: 80vw;
    height: auto;
}
.comment {
    background-color: $white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 7px;
}
.span-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.com-name{
    font-family: LemonMilk;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.68px;
    color: $black;
    padding-left: 5px;
}
.com-date{
    padding-right: 10%;
    font-family: HomemadeApple;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.68px;
    text-align: center;
    color: $red;
}

.com-body{
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.68px;
    text-align: center;
    color: $black;
}
.com-reply{
    outline: none;
    border: none;
    background-color: transparent;
    color: $red;
    font-family: HomemadeApple;
    font-size: 14px;
}

.blog-footer{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
//admin-signin

.admin-signin,
.admin-signup{
   @include form;
}
@media screen and (orientation: landscape) {
    .index-section {
        width: 80vw;
        height: 90vh;
    }
    header{
        h1{
            font-size: 3em;
        }
    }
    .index-flex{
        flex-direction: row;
        margin-top: 15vh;
        flex-wrap: wrap;
        justify-content: center;
        section {
            width: 35vw;
            margin-right: 1vw;
            height: auto;
            h1{
                font-size: 1.5em;
            }
        }
    }

    .blog-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-flex-central{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        .recent-blog {
            min-width: auto;
            max-width: 35vw;
            margin-right: 2vw;
            min-height: auto;
            height: 45vh;
            border-radius: 18px;
        }
    }
}